html {
  font-size: 100%;
  line-height: 1.5rem;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  min-height: flex;
  background-color: #bda7a7d5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.img {
  width: 100%;
  height: flex;
  display: block;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
  overflow: hidden;
  background-color: black;
  z-index: 10;
}

.logo,
.nav-menu {
  text-transform: uppercase;
}

.logo,
.nav-item {
  white-space: nowrap;
}

.nav-menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
  z-index: 10;
}

.nav-item {
  flex: 1 0 33.3%;
  text-align: center;
}

.social-nav-item {
  flex: 1 1 10%;
}

.logo a {
  font-weight: 700;
  font-size: 2rem;
}

.nav-menu a {
  font-weight: 400;
  letter-spacing: 0.1rem;
  border-bottom: 1px solid white;
  transition: all ease 0.1s;
}

/*Mason no touch after here*/
.header a:hover {
  background-color: rgb(233, 233, 233);
  color: rgb(168, 133, 133);
}

.header-right {
  float: right;
  justify-content: space-between;
}

.row {
  display: flex;
  flex: 1 0 auto;
  flex-wrap: wrap;
  padding: 2px 10px;
}

.column img {
  padding-bottom: 20px;
}

.content a:hover {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 2px 10px;
}

/*image*/
img {
  width: 100%;
  height: flex;
  align-self: left;
  padding-top: 8rem;
}
/*actual footer*/
.footer {
  flex-shrink: 0;
  background-color: #1d2952;
  text-align: center;
  padding: 20px;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
